@using INSAATTaksitTakip.Models
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<TBLKULLANICILAR>
@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_YonetimLayout.cshtml";
    var kultipi = ViewData["kultipi"] as List<INSAATTaksitTakip.Models.TBLKULLANICITIPLERI>;
    string ara = "";
    if (Request["ara"] != null)
    {
        ara = Request["ara"].ToString();
    }
}
<script>
    function Silinsinmi() {
        var sil = confirm("Silinsin Mi?");
        return sil;
    }
</script>
<div class="item  col-md-9 offset-md-2 col-xs-9 offset-xs-2 col-sm-9 offset-sm-2">

    <div id="liste" class="table-responsive">
        <div id="serchbar" style="margin-top:10px;">
            <form id="frm1" method="post" action="~/Yonetim/Kullanicilar/Ara" class="form-inline">
                <input type="search" name="txtAra" id="txtAra" class="form-control mr-sm-2" placeholder="Kullanıcı Adını Giriniz" aria-label="Search" />
                <button type="submit" class="btn btn-secondary my-2 my-sm-0">ARA</button>
                <a href="~/Yonetim/Kullanicilar/KayitFormu/-1" class="btn btn-outline-success">YENİ KULLANICI</a>
                <a href="~/Yonetim/KullaniciTipleri/Index/-1" class="btn btn-info">YENİ KULLANICI TİPİ</a>
            </form>
        </div>
        @{
            <table class="table table-striped table-hover table-bordered">
                <tr>
                    <th>Sil</th>
                    <th>Düzenle</th>
                    <th>Kullanıcı Adı</th>
                    <th>Kullanıcı Şifre</th>
                    <th>Kullanıcı Durumu</th>
                    <th>Kullanıcı Tipi</th>
                    <th>Mail</th>
                </tr>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td><a class="btn btn-danger" onclick="return Silinsinmi()" href="~/Yonetim/Kullanicilar/Sil/@Model[i].KULLANICI_REFNO">SİL</a></td>
                        <td><a class="btn btn-primary" href="~/Yonetim/Kullanicilar/KayitFormu/@Model[i].KULLANICI_REFNO">DÜZENLE</a></td>
                        <td>@Model[i].KULLANICI_ADI</td>
                        <td>@Model[i].KULLANICI_SIFRE</td>
                        <td>
                            @if (@Model[i].KULLANICI_DURUMU)
                            {
                                <label>Aktif</label>
                            }
                            else
                            {
                                <label>Pasif</label>
                            }
                        </td>
                        <td>@Model[i].TBLKULLANICITIPLERI.KULLANICI_TIPI_ADI</td>
                        <td>@Model[i].MAIL</td>
                    </tr>
                }
            </table>
        }
    </div>
    @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))
</div>

